body {
    font-family: sans-serif;
}

.course_header {
    font-weight: bold;
}

.selected_course {
    background-color: #DDD;
}

#schedule_table {
    width: 100%;
    background: #EEE;
    position: relative;
    font-size: 0.8rem;
}

#schedule_table td:nth-child(1) {
    width: 60px;
}

.schedule_group {
    position: relative;
}

.schedule_event {
    position: absolute;
    top: 0;

    background: white;
    padding: 4px;
    margin: 2px;

    white-space:nowrap;
    overflow: hidden;
}
.schedule_event:hover {
    overflow: visible;
}

.schedule_timestamp {
    position: absolute;
    top: 0;
}

